body {
      background-color: lightgray;
}
.header{
      height: 100px;
      background-color: black;
      color: white;
      text-align: center
}
.nav{
      background-color: lightgray;
      display: flex;
      justify-content: space-around;
      padding: 20px;
}
.btnNav{
      background-color: white;
      color: black
}
.app-container{
      display: flex;
      justify-content: center;
      background-color: lightgray;
}
.app{
      border: 1px solid black;
      background-color: white;
      width: 70%;
      padding: 30px;
      border-radius: 10px;
}
.card{
      width: 200px;
}
.img-cards{
      height: 200px;
      width: 200px;
}
.btn{
      border: 1px solid black;
}
.table{
      width:500px;
}