.header{
      height: 100px;
      background-color: black;
      color: white;
}
.nav{
      background-color: aliceblue;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 2px solid black;
}
.app{
      display: flex;
      justify-content: center;
      padding: 30px;
}
.form{
      width: 500px;
}
.card{
      width: 160px;
      height: 200;
}
.img-cards{
      height: 150px;
      width: 150px;
}
.btn{
      border: 1px solid black;
}
.table{
      width:500px;
}
.footer{
      min-height: 150px;
      background-color: black;
}