.nav{
      display: flex;
      justify-content: center;
      padding: 50px;
}
.app{
      display: flex;
      justify-content: center;
      padding-bottom: 100px;
}
.form{
      width: 500px;
}
.img-cards{
      height: 150px;
      width: 150px;
}
.btn{
      border: 1px solid black;
}
.card :hover{
      cursor: pointer;
}